/* ! GOOGLE FONTS LINKING */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* !RESET TO DEFAULTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* ! CUSTOM CSS */
:root {
  --header-height: 6rem;

  /* ? COLORS */
  --first-color: #48cae4;
  --title-color: #f4f3ee;
  --text-color: #e7e7e7;
  --body-color: hsl(0, 0%, 6%);
  --container-color: hsl(0, 0%, 10%);
  --border-color: hsla(0, 0%, 100%, 0.2);

  /* ? FONTS AND TYPOGRAPHY */
  --body-font: "Inter", sans-serif;
  --second-font: "Montserrat", sans-serif;

  --b-fs: 5rem;
  --h1-fs: 3.75rem;
  --h2-fs: 1.75rem;
  --h3-fs: 1.5rem;
  --normal-fs: 1.125rem;
  --small-fs: 1rem;
  --smaller-fs: 0.875rem;

  /* ? FONTS WEIGHT */
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-900: 900;

  /* ? TRANSITION */
  --transition: cubic-bezier(0.05, 0.3, 0.1, 1);

  /* ? BORDER RADIUS */
  --b-radius: 0.5rem;
}

input,
textarea,
body {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-fs);
  font-weight: var(--weight-300);
}

body {
  background-color: var(--body-color);
  width: 100%;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--weight-700);
}

p {
  line-height: 1.7rem;
}

img {
  max-width: 100%;
  object-fit: cover;
}

textarea,
input,
button {
  background: none;
  border: none;
  outline: none;
}

label {
  position: absolute;
  left: -9999999%;
}

/*! GENERAL CSS */

.container {
  max-width: 1460px;
  margin-inline: auto;
  padding-inline: 0.75rem;
}

.section {
  padding: 6rem;
  padding-bottom: 2rem;
}

.section-title {
  font-size: var(--h1-fs);
  margin-bottom: 1rem;
}

.section-description {
  max-width: 700px;
  margin-inline: auto;
}

.section-title:not(.about .section-title),
.section-description {
  text-align: center;
}

.contact-btn {
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  background: var(--first-color);
  color: #0f0f0f;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s var(--transition);
  border: 2px solid var(--first-color);
}

.contact-btn:hover {
  background: transparent;
  color: var(--first-color);
}

/* ! HEADER  SECTION*/
.header {
  position: absolute;
  text-outline: 0 0 #000;
  left: 0;
  width: 100%;
  z-index: 101;
}

.nav,
.nav-socials,
.nav-list {
  display: flex;
}

.nav-toggle,
.nav-close {
  display: none;
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  align-items: center;
  justify-content: space-between;
  gap: 5.5rem;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.nav-logo img {
  width: 50px;
}

.nav-logo span {
  color: var(--first-color);
}

.nav-list {
  gap: 2rem;
}

.nav-link,
.nav-social-link {
  font-size: var(--small-fs);
  color: var(--title-color);
  transition: all 0.3s var(--transition);
}

.nav-link {
  font-weight: 500;
}

.nav-socials {
  gap: 1.5rem;
  margin-left: auto;
}

.nav-social-link:hover {
  color: var(--first-color);
  transform: translateY(-0.25rem);
}

.nav-link-btn {
  font-size: var(--smaller-fs);
  background-color: transparent;
  border-color: var(--border-color);
  padding: 0.625rem 1.25rem;
  color: var(--first-color);
}

.nav-link-btn:hover {
  background: var(--first-color);
  border-color: var(--first-color);
  color: #0f0f0f;
}

.nav-btns .contact-btn {
  display: block;
}

.active-link,
.nav-link:hover {
  color: var(--first-color);
}

/* ! MAIN  SECTION */

/* ? ===== HOME ===== */

.home {
  padding: 10%;
}

.home-container {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 1.25rem;
}

.home-subtitle {
  font-size: var(--small-fs);
  font-weight: var(--weight-400);
  letter-spacing: 0.25rem;
  margin-bottom: 1.25rem;
  display: block;
  text-transform: capitalize;
}

.home-title {
  font-family: var(--second-font);
  font-size: var(--b-fs);
  font-weight: var(--weight-900);
}

.home-title span {
  background: linear-gradient(16deg, #4b90ff, #ff5546);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-img {
  width: 1000px;
}

.home-img img {
  border-radius: 50%;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  border: 0.75rem solid #96b5e7;
}

/* ? ===== ABOUT ===== */
.about {
  background-color: var(--container-color);
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.about-img {
  width: 1200px;
  flex-basis: 100%;
}

.about-img img {
  border-radius: var(--b-radius);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}

.about-description {
  margin-bottom: 2rem;
}

.tabs-btns {
  display: flex;
  column-gap: 2.5rem;
  margin-bottom: 1.25rem;
}

.tabs-btn,
.tab-description span:first-child {
  font-weight: var(--weight-500);
}

.tabs-btn {
  cursor: pointer;
  color: var(--title-color);
  position: relative;
}

.tabs-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 30%;
  height: 2px;
  background-color: var(--text-color);
  transition: all 0.3s var(--transition);
}

.tabs-data {
  row-gap: 1rem;
}

.tab-description span:last-child {
  display: block;
  margin-bottom: 2rem;
}

.tabs-btn.active {
  color: var(--first-color);
}

.tabs-btn.active::after {
  background: var(--first-color);
  width: 100%;
}

.tabs-item {
  min-height: 350px;
  width: 100%;
}

.tabs-item[data-content] {
  display: none;
}

.active[data-content] {
  display: block;
}

/* ? ===== PORTFOLIO ===== */

.portfolio-container {
  margin-top: 3rem;
}

.portfolio-item {
  margin-inline: auto;
  max-width: 80%;
  cursor: pointer;
  position: relative;
  margin-bottom: 4rem;
  overflow: hidden;
}

.portfolio-img img {
  border-radius: 5px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
  vertical-align: middle;
  transition: all 1s var(--transition);
}

.portfolio-item::after,
.portfolio-data {
  position: absolute;
  transition: all 0.7s var(--transition);
}

.portfolio-item::after {
  content: "";
  inset: 0;
  background: linear-gradient(180deg, transparent, #3b3b3b);
  opacity: 0;
}

.portfolio-data {
  width: 100%;
  bottom: 0;
  padding: 0.5rem 1rem;
  z-index: 1;
  background-color: #14213d;
  color: white;
}

.portfolio-subtitle,
.portfolio-description {
  opacity: 0.9;
}

.portfolio-subtitle {
  font-size: var(--small-fs);
}

.portfolio-title {
  font-weight: var(--weight-700);
  font-size: var(--h2-fs);
  margin-bottom: 0.75rem;
}

.portfolio-description {
  font-weight: var(--weight-400);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.links {
  padding: 1.5rem 0;
}

.links a {
  background-color: #00b4d8;
  color: var(--text-color);
  font-weight: var(--weight-600);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.links a:first-child {
  margin-right: 1rem;
}

.portfolio-item:hover::after {
  opacity: 1;
}

.portfolio-item:hover .portfolio-img img {
  transform: scale(1.05);
}

/* ? ===== CONTACT SECTION ===== */
.contact {
  background-color: var(--container-color);
  min-height: 100vh;
}

.contact.section {
  padding-top: 2rem;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.contact-left {
  max-width: 750px;
}

.contact-heading h2 {
  font-size: var(--b-fs);
  margin-bottom: 1rem;
}

.contact-heading p {
  font-size: var(--normal-fs);
  margin-bottom: 2rem;
  line-height: 1.7;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
  position: relative;
}

.contact-form input,
.contact-form textarea {
  border: 2px solid var(--border-color);
  padding: 1.2rem 1rem;
  width: 90%;
  border-radius: var(--b-radius);
}

.contact-form textarea {
  resize: none;
  height: 200px;
}

.contact-right .contact-img {
  width: 500px;
}

.contact-img img {
  border-radius: var(--b-radius);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
}

.error-message {
  position: absolute;
  bottom: -6%;
  left: 0;
  font-size: var(--small-fs);
  font-weight: var(--weight-400);
}

/* ! FOOTER SECTION */

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.footer-logo {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.footer-logo p {
  transition: all 0.5s var(--transition);
}

.footer-logo img {
  width: 50px;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--text-color);
  border-radius: 50%;
}

.footer-social-link i {
  font-size: 1.8rem;
  color: var(--text-color);
  transition: all 0.5s ease;
}

.footer-logo:hover p,
.footer-social-link:hover i {
  color: var(--first-color);
}
